observer
iterator
memento
memento2
chain
strategy
state
strategy_as_function
template_method
visitor
visitor2
mediator
abstract_factory
abstract_factory_2
fabric_methode
fabric_methode_2
fabric_methode_3
builder
prototype
singletone
adaptor
bridge
composite
composite_2
decorator
decorator_2
*~
